*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000000;
}

hr{
    display: block;
    border: 0;
}
body{
    font-family: 'Inter', sans-serif;
    position: relative;
    min-height: 100vh;
}

.wrapper{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header-container{
    max-width: 1480px;
    padding: 0px 50px;
    margin: 0 auto;
    background-color: #fff;
}

.container{
    max-width: 1480px;
    margin: 0 auto;
    padding: 40px 100px 50px 100px;
    border-radius: 50px;
    background-color: #FCFCFC;
}

.menu{
    height: 40px;
    display: flex;
    gap: 70px;
    align-items: center;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    /* padding-top: 80px; */
}

.nav-menu__user{
    /* display: block; */
    min-width: 42px;
    position: relative;
    transition: 0.3s ease-out;
    margin: 2px;
    width: 42px;
    height: 42px;
    margin-left: 30px;
    border-radius: 50%;
    background-color: #D9D9D9;
    border: 3px solid #fff;
    /* box-shadow: 0px 0px 0px 2px #0500FF; */
}

.nav-menu__user:hover{
    box-shadow: 0px 0px 0px 2px #0500FF;
}

.nav-menu__user__img{
    position: absolute;
    /* margin: 0px 0px 0px 0px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 18px;
    height: 36px;
    width: 36px;
    object-fit: cover;
}

.nav-log__title{
    transition: 0.3s ease-out;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.nav-log__title:hover{
    text-shadow: 0px 0px 3px #0500FF;
}

.nav-menu__title{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    transition: 0.3s ease-out;
}
.nav-menu__title:hover{
    color: #0500FF ;
}

input{
    outline:none;
}

.check-text{
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
}

.main-title{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.inputs-part__title{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;
    margin-left: 30px;
}

.input{
    width: 100%;
    height: 52px;
    background: #FCFCFC;
    border: solid #000000;
    border-radius: 18px;
    border-width: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin: auto;
    box-shadow: none; 
    padding-left: 28px;
    margin-bottom: 16px;
}

.inputs{
    display: flex;
    gap: 40px;
    width: 100%;
}

.inputs-20{
    margin-bottom: 4px;
}

.input-620px{
    max-width: 620px;
}

.input-367px{
    max-width: 367px;
    margin-bottom: 0px;
}

.phone-input{
    margin-right: 8px;
}

.phone-input__left{
    margin-right: 20px;
}

.phone-input__right{
    display: flex;
    align-items: center;
}

.text-phone-input{
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
}

.inputs-part__double{
    width: 100%;
    flex-grow: 1;
}

.inputs-part__left{
    width: 38.33%;
    max-width: 460px;
}

.inputs-part__center{
    width: 28.33%;
    max-width: 340px;
}

.inputs-part__right{
    width: 33.33%;
    max-width: 400px;
}

.inputs-part__center60{
    width: 43.333%;
    max-width: 260px;
}

.inputs-part__right40{
    width: 56.666%;
    max-width: 340px;
}

.inputs-part__260px{
    width: 43.333%;
    max-width: 260px;
}

.ip620{
    width: 33.33%;
    max-width: 620px;
}

.line{
    width: 100%;
    display: flex;
    gap: 40px;
}

.line__bottom{
    margin-bottom: 20px;
}

.line__bottom__40px{
    margin-bottom: 40px;
}

.line__bottom-12px{
    margin-bottom: 12px;
}

.input__comment{
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.inputs-part__div-flex{
    display: flex;
    height: 52px;
    align-items: center;
    margin-bottom: 16px;
}

.line__dashed {
    margin-bottom: 20px;
    border-top: 3px dashed rgba(0, 0, 0, 0.1);
}

.line__dashed-620{
     width: 100%;
     border-top: 3px dashed rgba(0, 0, 0, 0.1);
}

.line__dashed-620-single{
    width: calc(50% - 20px);
    max-width: 620px; 
}

.input-620px-single{
    width: calc(50% - 20px);
}

.line__dashed-460 {
    border-top: 3px dashed rgba(0, 0, 0, 0.1);
    max-width: 460px;
    flex-grow: 38.33;
}

.line__dashed-340 {
    border-top: 3px dashed rgba(0, 0, 0, 0.1);
    max-width: 340px;
    flex-grow: 28.33;
}

.line__dashed-400 {
    border-top: 3px dashed rgba(0, 0, 0, 0.1);
    max-width: 400px;
    flex-grow: 33.33;
}

.line__dashed-260{
    width: 43.333%;
    max-width: 260px;
}

.line__dashed-340-2{
    width: 56.666%;
    max-width: 340px;
}

.left-hr {
    display: flex;
    gap: 20px;
    width: 100%;
}

.hr-solid{
    border-top: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px; 
    margin-bottom: 32px;
}

.button{
    cursor: pointer;
    transition: 0.2s ease-out;
    height: 40px;
    width: 100%;
    max-width: 240px;
    background-color: #FCFCFC;
    border: 2px solid rgba(5, 0, 255, 0.4);
    border-radius: 40px;
}

.button-submit{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 36px;
}

.button-p{
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.a-account{
    transition: ease-out 0.3s;
    text-decoration: underline;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}

.a-account:hover{
    text-decoration: none;
}

.bottom-margin {
    height: 500px;
}

.input-textarea{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    resize: none;
    padding: 19px 20px 0px 28px;
    width: 100%;
    height: 222px;
    background: #FCFCFC;
    border: solid #000000;
    border-radius: 28px;
    border-width: 2px;
    margin: auto;
    margin-bottom: 16px;
    box-shadow: none;
}

.check-box{
    position: absolute;
    opacity: 0;
    z-index: -1;
    /* display: none; */
    /* padding-left: 20px; */
}

.label{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-start;
    /* display: block; */
}

.check-style{
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    min-width: 16px;
    border: 2px solid #000000;
    border-radius: 6px;
    /* margin-left: -20px; */
}



.check-box:checked + .check-style::before{
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 3px;
    background-color: #0500FF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.margin-bottom-40px{
    margin-bottom: 40px;
}

button:hover{
    border: 2px solid #0500FF;
    filter: drop-shadow(0px 0px 4px rgba(5, 0, 255, 0.5));
    /* color: #FCFCFC; */
    /* box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.24); */
}

.bottom-16px{
    margin-bottom: 16px;
}

.inputs-part__double-flex{
    display: flex;
    gap: 20px;
}

.inputs-part__flex-right{
    display: flex;
    align-items: center;
}

.inputs-part__300px{
    width: 100%;
}

.line__dashed-300{
    width: 100%;
}

.choices{
    max-width: 620px;
}

.choices[data-type*=select-one]:after{
    transition: 0.3s ease-out;
    width: 35px;
    margin-top: -4px;
    margin-right: 18px;
    height: 10px;
    background-repeat: no-repeat;
    background-image: url(../images/arrow.svg);
    border-style: none;
}

.choices[data-type*=select-one].is-open:after{
    width: 35px;
    height: 10px;
    margin-top: -4px;
    margin-right: 18px;
    background-repeat: no-repeat;
    transform: rotateX(180deg);
    background-image: url(../images/arrow.svg);
    border-style: none;
}

.choices__list--dropdown .choices__placeholder {
    display: none;
}

.choices__inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #FCFCFC;
    height: 52px;
    padding: 13px 0px 3.75px 24px;
    border: 2px solid #000000;
    border-radius: 2.5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.6);
    min-height: 44px;
    overflow: hidden;
    border-radius: 18px;
}

.is-open .choices__inner{
    border-radius: 18px;
    border: 2px solid #000000;
}

.is-flipped.is-open .choices__inner{
    border-radius: 18px;
    border: 2px solid #000000;
}

.is-focused .choices__inner{
    border-radius: 18px;
    border: 2px solid #000000;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: rgba(5, 0, 255, 0.4);
}

.choices__placeholder {
    opacity: 1;
}

.choices__list--dropdown .choices__item {
    padding: 10px 10px 10px 28px;
    height: 35px;
}

.choices[data-type*=select-one] .choices__input {
    display: block;
    width: 100%;
    padding: 10px 10px 10px 28px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    margin: 0;
}

.choices__list--dropdown .choices__list {
    max-height: 200px;
}

.choices__list--dropdown .choices__list::-webkit-scrollbar {
    width: 10px;
    background-color: #FCFCFC;
}

.choices__list--dropdown .choices__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9;
}

.choices__list--dropdown{
    opacity: 1;
    margin-top: 1px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    border: 2px solid #000000;
    
}

.is-open .choices__list--dropdown{
    opacity: 1;
    margin-top: 1px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    border: 2px solid #000000;
}

.main-message{
    text-align: center;
    width: 690px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    margin: 0px auto 36px auto;
}

.form-center{
    margin-top: 50px;
}

.button-choice{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.file-form {
    position: relative;
    width: 100%;
}

.choose-file-container {
    max-width: 620px;
    background-color: #FCFCFC;
    height: 52px;
    border-radius: 18px;  
    border: 2px solid #000000;
}

.choose-file-button:hover {
    background-color:  rgba(5, 0, 255, 0.4);
    width: 240px;
    height: 52px;
    border: 2px solid #000000;
    border-radius: 18px;
    transition: 0.3s ease-out;
    /* box-shadow: 0 0px 0px 1.6px #000000; */
}


.choose-file-button {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%,-50%); */
    margin-top: -2px;
    margin-left: -1.8px;
    display: -webkit-box;
    background-color: #000000;
    width: 240px;
    height: 52px;
    border: 2px solid #000000;
    border-radius: 18px;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    /* box-shadow: 0px 0px 0px 1.6px #000000; */
}

.button-file {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}

.file-input[type=file] {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.label-file {
    position: absolute;
    width: 100%;
}